.section-about-us {
    padding-top: 100px;
}
.about-us-text {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(12, 12, 12, 0.7);
}
.about-us-link {
    text-align: center;
    color: #fbfbfb;
    background-color: #3350e9;
    padding: 15px 37px 15px 38px;
    width: 160px;
    border-radius: 16px
}
.about-us-link:hover,
.about-us-link:focus {
    background: #1f3cd4;   
}
.section-about-us .container {
    display: flex;    
    gap: 40px;
}
.about-us-text-wrapper {
    padding: 80px 60px;
    width: 580px;
    height: 532px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #f3f3f3;
    border-radius: 50px;
}
.about-us-text-wrapper > .section-title {
    margin-bottom: 0;
}
.about-us-p-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}