.catalog-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 24px 28px;
}
.catalog-item:nth-child(n + 5) {
  display: none;
}
.catalog-item:nth-child(4) {
  margin-bottom: 40px;
}
.catalog-img {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 208px;
  height: 226px;
}

.catalog-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 8px;
}
.catalog-text {
  font-weight: 400;
  color: rgba(12, 12, 12, 0.5);
}
.catalog-show-more {
  background-color: #3350e9;
  border-radius: 16px;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .catalog-subtitle {
    font-size: 20px;
    line-height: 1;
  }
  .catalog-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .catalog-item {
    flex-basis: calc((100% - 16px) / 2);
    padding: 32px 24px;
  }
  .catalog-item:nth-child(n + 5) {
    display: block;
  }
  .catalog-show-more {
    display: none;
  }
  .catalog-item:nth-child(4) {
    margin-bottom: 0;
  }
  .catalog-img {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 270px;
    height: 279px;
  }
}
@media (min-width: 1280px) {
  .catalog-item {
    flex-basis: calc((100% - 23px * 2) / 3);
  }
  .catalog-items {
    gap: 32px 23px;
  }
}
