.section-hero {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero-wrapper-top {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;
}
.hero-slogan {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
}
.hero-title-blue {
  color: #3350e9;
}
.hero-text {
  color: rgba(12, 12, 12, 0.7);
}
.hero-scroll-down {
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
  display: block;
}
.hero-scroll-down:hover,
.hero-scroll-down:focus {
  color: #3350e9;
}
.hero-img img {
  border-radius: 30px;
  height: 366px;
  object-fit: cover;
}
.hero-reviews {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.hero-reviews-items {
  display: flex;
  position: relative;
}
.hero-item-img {
  width: 44px;
  height: 44px;
}
.hero-item:nth-child(n + 2) {
  margin-left: -10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  header .container {
    padding: 26px 32px;
  }
  .hero-wrapper-top {
    flex-direction: row;
    gap: 11px;
    margin-bottom: 40px;
  }
  .section-hero {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .hero-slogan {
    width: 557px;
  }
  .hero-title {
    font-size: 68px;
    line-height: 0.85714;
  }
  .hero-text {
    width: 480px;
    font-size: 16px;
    line-height: 1.25;
  }
  .hero-scroll-down {
    font-size: 20px;
    line-height: 1;
    text-align: right;
  }
  .hero-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 136px; */
  }
  .hero-item-img {
    width: 56px;
    height: 56px;
  }
  .hero-img img {
    height: 520px;
  }
  .hero-item:nth-child(n + 2) {
    margin-left: -15px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
  header .container {
    padding: 26px 65px;
  }
  .section-hero {
    padding-bottom: 100px;
    padding-top: 80px;
  }
  .hero-wrapper-top {
    justify-content: space-between;
    width: 100%;
  }
  .hero-slogan {
    width: 597px;
  }
  .hero-title {
    font-size: 72px;
    line-height: 0.875;
  }
  .hero-item-img {
    width: 60px;
    height: 60px;
  }
  .hero-img img {
    height: 500px;
  }
  .hero-item:nth-child(n + 2) {
    margin-left: -17px;
  }
}
